    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Your Journey History
        </div>
        <div class="panel-body">
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Created</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Aberdeen</td>
                <td>Inverness</td>
                <td>21/21/13</td>
                <td>about 1 hour ago</td>
                <td>
                  ✖︎ &nbsp; ➜
                </td>
              </tr>
              <tr>
                <td>Aberdeen</td>
                <td>Inverness</td>
                <td>21/21/13</td>
                <td>about 1 hour ago</td>
                <td>
                  ✖︎ &nbsp; ➜
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <p class="text-muted">Journey data is not updated, to get the latest data please query the journey again from the homepage.</p>
        </div>
      </div>
    </div>