<h1> Travel Planner </h1>

<div id="top">
	<!-- This div is persistent? I.e. position:fixed; and anything below updated via AJAX or something? -->
	<div id="logo">
		<!-- slot for a logo or something -->
	</div>

	<div id="navbar">
		<!-- links -->
		<a href="">Popular locations</a>
	</div>

	<div id="userbar">
		<!-- User info, avatar, log in/out links, etc. -->
		<a href="">Sign in</a>
	</div>

<!-- END DIV 'top' -->	
</div>

<h2> Welcome [username]! </h2>
<img src="http://wiki.openstreetmap.org/w/images/thumb/e/e7/Bus-icon.svg/165px-Bus-icon.svg.png"></img>

<div id="main">
	<p> Welcome to Travel Planner(tm). This tool helps you plan trips and compare prices for various travel methods, whether it's by bus or plane. To get started, click on 'Create a new trip'. </p>

	<p> Supported travel methods: </p>
	<ul>
		<li>Planes</li>
		<li>Trains</li>
		<li>Automobiles</li>
	</ul>

	<p> Watch this space.</p>

	<div class="content">
	</div>

<!-- END DIV 'main' -->
</div>

<div id="footer">
	<div id="links">
		<p>stuff</p>
	</div>
	<div id="info">
		<p>stuff</p>
	</div>
</div>