<h1> Travel Planner </h1>
<h2> Welcome! </h2>

<div id="top">
	<!-- This div is persistent? I.e. position:fixed; and anything below updated via AJAX or something? -->
	<div id="logo">
		<!-- slot for a logo to go (clicking goes to homepage?) -->
	</div>

	<div id="navbar">
		<!-- links -->
	</div>

	<div id="userbar">
		<!-- User info, avatar, log in/out links, etc. -->
	</div>
</div>

<div id="main">
	<p> Welcome to Travel Planner(tm). This tool helps you plan trips and compare prices for various travel methods, whether it's by bus or plane. To get started, click on 'Create a new trip'. </p>
	
	<p> Watch this space.</p>

	<div class="content">
	</div>

</div>