<h1>Details for your journey from [ORIGIN] to [DESTINATION]</h1>
<h2>Leaving: [STARTDATE]  Arriving: [ENDDATE]</h2>

<!-- Here we display the price, and individual ticket info for all stages of the journey -->


<%= link_to 'Back', root %>