<h1>Details for your journey from [ORIGIN] to [DESTINATION]</h1>
<h2>Leaving: [STARTDATE]  Arriving: [ENDDATE]</h2>

<%# for @journey.results.all |journey| %>
<%# journey.price    etc... %>


<%= link_to 'Back', root %>